.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    margin: 20px auto;
    width: max-content;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
}

.bg-button{
    background-color: rgb(115, 16, 52);
    color: white;
    border: none;
}
.computer-ships {
    background-color: rgb(0, 96, 129);
}
.player-ships4 {
    background-color: rgb(226, 78, 201);
}
.player-ships1 {
    background-color: rgb(238, 116, 218);
}
.player-ships2 {
    background-color: rgb(168, 106, 158);
}
.player-ships3 {
    background-color: rgb(255, 148, 237);
}
.player-ships5 {
    background-color: rgb(248, 176, 236);
}
.player-ships6 {
    background-color: rgb(231, 77, 206);
}
.player-ships7 {
    background-color: rgb(173, 0, 147);
}
.player-ships8 {
    background-color: rgb(105, 0, 88);
}
.player-ships9 {
    background-color: rgb(139, 46, 124);
}
.hit { 
    background-color: red; 
}
.miss {
    background-color: blue;
 }